@model IEnumerable<ProductVM>
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- begin name -->
    <div class="container col-12 mt-4">
        <div class="row">
            <div class="shop_list">
                <h1>Product List</h1>
                <span>Where flowers are our inspiration</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 ml-2 mainList">
            <partial name="ProductPartial"/>
            @*@await Component.InvokeAsync("Products",12)*@
        </div>
        <div class="row justify-content-center">
            @*<input type="hidden" id="product_count" value="@ViewBag.ProductCount" />*@
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        if (ViewBag.Page == null)
                        {
                            if (i == 1)
                            {
                                <li class="page-item disabled"><a class="page-link" href="/product/index?page=@i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item "><a class="page-link" href="/product/index?page=@i">@i</a></li>
                            }
                        }
                        else
                        {
                            if (i == ViewBag.Page)
                            {
                                <li class="page-item disabled"><a class="page-link" href="/product/index?page=@i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item "><a class="page-link" href="/product/index?page=@i">@i</a></li>
                            }
                        }

                    }
                </ul>
            </nav>
        </div>
    </div>
        <!-- finish name -->
</main>


